$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower
.row {
    margin: 0;
}

.container {
    height: 390px;
    width: 319px;
    padding: 0;
}

.time {
    font-family: 'Tw Cen MT', sans-serif;
    font-size: 80pt;
    color: white;
    text-shadow: -1px 0 #196CFF, 0 1px #196CFF, 1px 0 #196CFF, 0 -1px #196CFF;
}

.date {
    font-family: 'Tw Cen MT', sans-serif;
    color: white;
    margin-top: -15px;
    font-size: 24pt;
    text-shadow: -1px 0 gray, 0 1px gray, 1px 0 gray, 0 -1px gray;
}

.carousel {
    height: 100%;
}

.carousel-control.right {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
}

.time-slide {
    height: 340px;
}

.currency-slide {
    padding-top: 2em;
    height: 340px;
    background-color: lightgray;
}

.currency {
    display: inline;
    width: 66%;
    padding: 6px 12px;
    font-size: 25px;
    height: 50px;
    line-height: 1.428571429;
    margin: auto;
    color: #000;
    background-color: #fff;
    background-image: none;
    border: 1px solid #fff;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}



.comparecur {
    display: inline-block;
    width: 99%;
    margin-top: 1px;
    padding: 6px 12px;
    height: 50px;
    background-color: #fff;
    font-size: 25px;
    line-height: 1.428571429;
}
.collapse.in {
    display: inline-block;
}

select {
    margin-left: -4px;
    width: 33%;
    height: 50px;
    padding: 6px 12px;
    font-size: 25px;
    line-height: 1.428571429;
    color: #fff;
    background-color: #196CFF;
    background-image: none;
    border: 1px solid #196CFF;
    border-radius: 0;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.carousel-buttons {
    //    position: absolute;
    top: 0px;
    width: 100%;
    height: 50px;
    font-size: 30px;
    background-color: white;
    color: #196CFF;
    text-align: center;
}

.carousel-buttons .tab {
    width: 50%;
    height: 100%;
    padding-top: 7px;
    cursor: pointer;
    border-bottom: 1px solid #196CFF;
}

.tab.active {
    background-color: #196CFF;
    color: white;
}

//.carousel-indicators {
//    position: absolute;
//    top: 0px;
//    left: 0%;
//    z-index: 15;
//    width: 100%;
//    margin-left: 0;
//    padding-left: 0;
//    list-style: none;
//    text-align: center;
//    color: #fff;
//}
//
//.carousel-indicators li {
//    display: inline-block;
//    width: 50%;
//    height: 27px;
//    margin: 0px;
//    text-indent: 0px;
//    border: 0px solid #fff;
//    border-radius: 0px;
//    cursor: pointer;
//    background-color: #000;
//    background-color: transparent;
//}
//
//.carousel-indicators .active {
//    margin-left: -4px;
//    width: 50%;
//    height: 27px;
//    background-color: #196CFF;
//}
a:hover {
    text-decoration: none;
}