<div id="carousel-example-generic" class="carousel slide" data-interval="false" data-ride="carousel">
    <div class="row">
        <div class="carousel-buttons">
            <div class="col-xs-4 tab" ng-class="{ active: classCtrl.isSet(1) }" ng-click="classCtrl.setClass(1)" data-target="#carousel-example-generic" data-slide-to="0"><span class="glyphicon glyphicon-time"></span></div>
            <div class="col-xs-4 tab" ng-class="{ active: classCtrl.isSet(2) }" ng-click="classCtrl.setClass(2)" data-target="#carousel-example-generic" data-slide-to="1">
                <span class="glyphicon glyphicon-usd"></span>
                <span class="glyphicon glyphicon-euro"></span>
            </div>
            <div class="col-xs-4 tab" ng-class="{ active: classCtrl.isSet(3) }" ng-click="classCtrl.setClass(3)" data-target="#carousel-example-generic" data-slide-to="2">
                <span class="glyphicon glyphicon-certificate"></span>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="carousel-inner">
            <div class="item active">
                <timezone></timezone>
            </div>
            <div class="item">
                <currency></currency>
            </div>
            <div class="item">
                <weather></weather>
            </div>
        </div>
    </div>
</div>