<div class="row">
    <div ng-if="dst == 0">
        <div ng-controller="WeatherController">
            <div class="col-sm-12 text-center time-slide">
                <h3 class="time">{{ timezone * 1000 | date:'HH:mm' }}</h3>
                <p class="date">{{ timezone * 1000 | date:'dd.MM.yyyy' }}</p>
                <p>Tempreature in {{city}}: {{temp | number:1}}&#8451;</p>
                
                <img ng-src="http://openweathermap.org/img/w/{{icon}}.png">
            </div>
        </div>
    </div>
    <div ng-if="dst == 1">
        <div ng-controller="WeatherController">
            <div class="col-sm-12 text-center time-slide">
                <h3 class="time">{{ (timezone + 3600) * 1000 | date:'HH:mm' }}</h3>
                <p class="date">{{ (timezone + 3600) * 1000 | date:'dd.MM.yyyy' }}</p>
                <p>Tempreature in {{city}}: {{temp | number:1}}&#8451;</p>
            </div>
        </div>
    </div>

</div>